<div class="jumbotron">
  <div class="container text-center">
    <h1>Time to eat some BURGERS!</h1>
    <p>Add a burger you are craving, then devour it!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-3 text-center burgers">
    {{> burgers/to-eat}}
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-3 text-center burgers">
    {{> burgers/eaten-burger}}
  </div>
  <div class="col-md-2">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 text-center burgers">
    {{> burgers/add-burger}}
  </div>
  <div class="col-md-4">
  </div>
</div>